@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-primary: black; /* near black */
    --ui-secondary: #404040; /* dark gray */
    --ui-success: blue; /* keep green */
    --ui-info: #2563eb; /* keep blue */
    --ui-warning: #d97706; /* keep amber */
    --ui-error: #dc2626; /* keep red */
}

.dark {
    --ui-primary: #f5f5f5; /* near white */
    --ui-secondary: #a3a3a3; /* light gray */
    --ui-success: blue; /* lighter green */
    --ui-info: #60a5fa; /* lighter blue */
    --ui-warning: #fbbf24; /* lighter amber */
    --ui-error: #f87171; /* lighter red */
}
.rootdiv {
    @apply w-full px-4 pt-2 pb-20 md:pb-5 overflow-y-auto space-y-4 2xl:mx-auto 2xl:max-w-6xl 2xl:[scrollbar-width:none];
}

.templategrid {
    @apply grid grid-cols-2 md:grid-cols-3 gap-4;
}

@font-face {
    font-family: "Chillax";
    src: url("/fonts/Chillax-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-sans: "Satoshi", ui-sans-serif, system-ui;
}
